# 1
x = 3 ----> floata çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

y = 4.5 -----> integere çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

z = "8" -----> integera çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

a = "12" -----> floata çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

b = "46.8" ------> integera çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

In [3]:
x=3
x= float(x)

In [4]:
type(x)

float

In [5]:
y=4.5
y = int(y)

In [6]:
type(y)

int

In [7]:
z="8"
z=int(z)

In [8]:
type(z)

int

In [11]:
a="12"
a=float(a)
a

12.0

In [12]:
type(a)

float

In [15]:
b ="46.8"
b = int(b)

ValueError: invalid literal for int() with base 10: '46.8'

# 2 
İsimlerden oluşan üç değişkene yaş değerleri atanır. Belirlenen üç değişken birbiriyle karşılaştırma operatörleri ile karşılaştırılır. Bu karşılaştırmalara mantıksal operatörler de eklenir.

In [16]:
ahmet=25
latif=50
emir=15

In [17]:
ahmet ==latif

False

In [18]:
emir !=ahmet

True

In [19]:
ahmet <50 and ahmet >12

True

In [24]:
emir > 9 or  latif > 52

True

# 3
Kullanıcıdan iki değer girmesini istenir. Girilen değerlerin toplama, çıkarma, çarpma, bölme sonuçlarını yazdırılır.

In [35]:
sayi_1= input("1.sayıyı giriniz:  ")
print(sayi_1)

96

In [33]:

sayi_2= input("2.sayıyı giriniz:  ")
print(sayi_2)

28

In [47]:
sayi_1= int(input("1.sayıyı giriniz:  "))
print(sayi_1)
sayi_2= int(input("2.sayıyı giriniz:  "))
print(sayi_2)
print(sayi_1, "+", sayi_2, "=", sayi_1+sayi_2)

15
56
15 + 56 = 71

In [48]:
sayi_1= int(input("1.sayıyı giriniz:  "))
print(sayi_1)
sayi_2= int(input("2.sayıyı giriniz:  "))
print(sayi_2)
print(sayi_1, "-", sayi_2, "=", sayi_1-sayi_2)

18
3
18 - 3 = 15

In [52]:
sayi_1= int(input("1.sayıyı giriniz:  "))
print(sayi_1)
sayi_2= int(input("2.sayıyı giriniz:  "))
print(sayi_2)
print(sayi_1, "/", sayi_2, "=", sayi_1/sayi_2)

50
5
50 / 5 = 10.0

In [53]:
sayi_1= int(input("1.sayıyı giriniz:  "))
print(sayi_1)
sayi_2= int(input("2.sayıyı giriniz:  "))
print(sayi_2)
print(sayi_1, "*", sayi_2, "=", sayi_1*sayi_2)

12
3
12 * 3 = 36

# 4
Kullanıcıdan isim, yaş, şehir ve meslek bilgilerini istenir ve cevaplarını yazdırılır.

In [54]:
kullanici_isim= input("kullanıcı isminizi gir:  ")
print(kullanici_isim)
kullanici_yas= input("kullanıcı yaşını giriniz: ")
print(kullanici_yas)
kullanici_sehir=input("kullanıcı şehirini giriniz: ")
print(kullanici_sehir)
kullanici_meslek=input("kullanıcı mesleğini giriniz:  ")
print(kullanici_meslek)

irem
22
sakarya
mühendis

# 5
"Hi-Kod Veri Bilimi Atölyesi" ifadesini bir değişkene tanımlanır.


 1. İfadedeki her bir kelimeyi ("Hi-Kod", "Veri", "Bilimi", "Atölyesi") değişken içinden seçilir. 
 2. İfadeyi hepsini büyük harf olacak hale çevrilir. ("HI-KOD VERİ BİLİMİ ATÖLYESİ") 
 3. İfadeyi hepsini büyük harf olacak hale çevrilir.("hi-kod veri bilimi atölyesi") 

"0123456789" ifadesindeki yalnızca çift sayıları ve yalnızca tek sayıları seçilir. ("02468", "13579")

In [56]:
x= "Hi-Kod Veri Bilimi Atölyesi"
print("Hi-Kod","Veri", "Bilimi","Atölyesi")

Hi-Kod Veri Bilimi Atölyesi

In [73]:
a= "Hi-Kod Veri Bilimi Atölyesi"
print(a.lower())

hi-kod veri bilimi atölyesi

In [74]:
print(a.upper())

HI-KOD VERI BILIMI ATÖLYESI